---
import Layout from '../layouts/Layout.astro';
import SiteNav from '../components/home/SiteNav.astro';
import HomeHero from '../components/home/HomeHero.astro';
import HomeAbout from '../components/home/HomeAbout.astro';
import HomeCraft from '../components/home/HomeCraft.astro';
import HomeWork from '../components/home/HomeWork.astro';
import HomeBeyond from '../components/home/HomeBeyond.astro';
import HomeStack from '../components/home/HomeStack.astro';
import HomeContact from '../components/home/HomeContact.astro';
import SiteFooter from '../components/home/SiteFooter.astro';
import {
  projects,
  heroTerminalBioLines,
  collectCaseStudySlugs,
  allCaseStudySlugs,
  siteSectionAnchors,
  sectionOpenTokenToId,
} from '../data/portfolio';
import {
  skills,
  craftBrands,
  craftPillars,
  beyondBlocks,
  heroIntroTerminalLines,
  heroWhoamiLine,
} from '../data/homePage';
import { shippingSinceCardLine } from '../utils/experience';

const terminalProjectRows = projects.map((p) => ({
  title: p.title,
  year: p.year,
  tag: p.tag,
  role: p.role,
  caseStudySlugs: collectCaseStudySlugs(p),
}));

const heroTerminalSlugs = allCaseStudySlugs(projects);
const openSectionTokens = sectionOpenTokenToId();
const sectionIds = siteSectionAnchors.map((s) => s.id);
const introLines = heroIntroTerminalLines();
const sinceCardLine = shippingSinceCardLine();
const year = new Date().getFullYear();
---
<Layout>
  <SiteNav />
  <main id="main-content" tabindex="-1">
    <HomeHero
      terminalProjectRows={terminalProjectRows}
      bioLines={heroTerminalBioLines}
      introLines={introLines}
      whoamiLine={heroWhoamiLine}
      knownSlugs={heroTerminalSlugs}
      openSectionTokens={openSectionTokens}
      sectionIds={sectionIds}
    />
    <HomeAbout sinceCardLine={sinceCardLine} />
    <HomeCraft craftBrands={craftBrands} craftPillars={craftPillars} />
    <HomeWork projects={projects} />
    <HomeBeyond beyondBlocks={beyondBlocks} />
    <HomeStack skills={skills} />
    <HomeContact />
  </main>
  <SiteFooter year={year} />
</Layout>
